streamlit
pandas
tabulate
fpdf2==2.8.1
sqlalchemy
firebolt-sdk==1.15.0
firebolt-sqlalchemy==1.1.1
boto3
xmltodict
setuptools
chainlit
mcp
langchain_mcp_adapters
langchain_aws
langgraph
langchain
langchain_core
typing